/*theme color: a2bd30*/
/*new theme color: 383838*/
hr {
  border-color: #a2bd30;
}


a {
  color: #a2bd30;
}

a:hover {
  color: #a2bd30;
}

.bg-primary {
  background-color: #212529 !important;
}



#mainNav .navbar-brand {
  color: #ffffff;
}


#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #aaaaaa;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: gray;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #cccccc !important;
  background-color: transparent;
}

.labelform{
  margin-top: 50px;
  color:white;
  text-shadow: 2px 2px black;
}

.portfolio-box .portfolio-box-caption {

  /*background: rgba(162, 189, 48, 0.9);*/
  /*background:red;*/

}

.text-primary {
  color: #555555 !important;
}

.text-green{
	color: #cccccc;
}

.text-faded-green {
  color: rgba(255, 255, 255, 0.7);
}

.btn-primary {
  background-color: #a2bd30;
  border-color: #a2bd30;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #7c9125 !important;
}

.text-small{
	font-size: 14px;
}

form#contactform input[type="text"] {
  width: 100%;
  border: 1px solid #f5f5f5;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform textarea {
border: 1px solid #f5f5f5;
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform .validation {
    font-size:11px;
}


#sendmessage {
    border:1px solid #e6e6e6;
    background:#f6f6f6;
    display:none;
    text-align:center;
    padding:15px 12px 15px 65px;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;

}

#sendmessage.show,.show  {
    display:block;
}

/* --- comment form ---- */
form#commentform input[type="text"] {
  width: 100%;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;

}

form#commentform textarea {
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px 2px 2px 2px;
            border-radius: 2px 2px 2px 2px;
}

.margintop10{
    margin-top: 10px;
}

.margintop20{
    margin-top: 20px;
}

.logo{
  padding-top: 30px;
}

#logo{
  width: 30px;
  opacity: 1.0;

}
#logo2{
	width: 30px;
	height:32px;
	padding-left: 10px;
	overflow:hidden;
	opacity: 0.0;

}
#formulario{
	font-size:25px;
	/*padding-left: 25em;*/

}
#botonformulario{
/*margin-left:45em;*/
}

#titulos{

}

header.masthead{
  padding-top:0rem;
  padding-bottom:calc(10rem - 56px);
  background-image:url(../img/header.png);
  background-color:gray;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
section.bg-primary{
	background-image:url(../img/fondopersonajes.png);
	/*padding-top:35rem;*/
  background-size: 100%;
  background-repeat:no-repeat;
}

#about{
  min-height: 800px;
}

#services{
  min-height: 800px;
}
}

.sombra{
  text-shadow: 2px 2px black;

}

.ckolmos_header{
  margin-top: 100px !important;
}

#logoGBCN{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10%;
}

.masthead{
  position:relative;
}

@media (max-width: 1200px){
  header.masthead{
    background-position: right;
  }
  #logoGBCN{
    width: 10%;
  }
  #about{
  min-height: 600px;
}

  #services{
  min-height: 600px;
}
}

@media (min-width: 992px) {
#mainNav.navbar-shrink .navbar-brand {
    color: #cccccc;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #cccccc;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #cccccc;
  }

  #mainNav .navbar-nav > li.nav-proyectos > a.nav-link, #mainNav .navbar-n{
    color:#cccccc;
  }
  #mainNav .navbar-nav > li.nav-proyectos > a.nav-link:focus, #mainNav .navbar-n{
    color:#cccccc;
  }

  header.masthead{
   /* padding-top:3rem;*/
  }
  #logo2{

}
}

@media (max-width: 991px) {
#logo2{
  opacity: 1.0;
  /*margin-left: 120px;*/
  padding-left: 2px;
}
#mainNav .navbar-brand{
	color: black;
}

  header.masthead{
    padding-top:4rem;
    min-height: 750px;
    background-position: left;

  }
  header.masthead h1 {
    font-size: 5rem;
  }
  #about{
  min-height: 500px;
}

  #services{
  min-height: 500px;
}

  section.bg-primary{

  background-size: 150%;
  background-repeat:no-repeat;
}

  #email{
    width:68%;
    margin:auto;
  }

  #logoGBCN{
    width: 15%;
	  /*padding-bottom:220px;*/
  }

#mc_embed_signup{
  position:relative;
}

  #mc_embed_signup input.email
  {

	margin-bottom:00px;
  }
  #mc-embedded-subscribe.button
  {
  	/*margin-bottom:310px;*/
	

  }
}

@media (max-width: 767px) {
  header.masthead{
    padding-top:3rem;
    background-position: left;
    background-image: url("../img/header_small.png");
  }

  .fomuMail{
    
    width:68%;
    margin:auto;

  }

  #logoGBCN{

  }

    section.bg-primary{

    background-size: 300%;
    background-repeat:no-repeat;
  }

    #titulos img{
    width:50%;
  }

    #titulos img{
    width:50%;
  }

}

@media (max-width: 400px) {
  header.masthead{
    padding-top:2rem;
    background-position: left;

  }

  .pvw-title span {
    display: none;
  }
  .pvw-title:after {
    content: 'cKolmos';
  }

      section.bg-primary{

    background-size: 450%;
    background-repeat:no-repeat;
  }

  #titulos img{
    width:50%;
  }

}

#cabecerapersonajes{
  font-size:40px;
}

#textopersonajes{
	font-size:30px;
  opacity:1;
}

#personajes{
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
}

